* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;

    /* outline: 2px solid red;  */
}

/* ----------------------------------------------------------------------- */


/* Desarrollo Header */

.navbar-nav .nav-link.active,
.nav-item .nav-link.active {
    color: #D83C15;
}

.navbar-nav .nav-link.disabled,
.nav-item .nav-link.disabled {
    color: grey;
}

.navbar-toggler-icon {
    color: white;
}

.btn {
    color: #D83C15;
    border-color: #D83C15;
}

.nav-link {
    color: antiquewhite;
}

/* ----------------------------------------------------------------------- */

/* Desarrollo Main (Portada) */

.portada {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.096),
            rgba(0, 0, 0, 0.873)), url(../assets/fairytail-portada.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Desarrollo contenido main */

main h2 {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D83C15;
    overflow-y: 20px;
    box-shadow: 30px 20px 10px 10px black;
}

.seccion-ova {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-ova.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.seccion-historia {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-historia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.resumen {
    color: aliceblue;
}

.seccion-personajes {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.873),
            rgba(127, 127, 127, 0.294)), url(../assets/personajes-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn {
    background-color: #D83C15;
    color: white;
    font-weight: 200;

}


/* ----------------------------------------------------------------------- */

/* Desarrollo Footer */
.logo-pegi {
    width: 80px;
}

.logo-crunchy {
    width: 100px;
}

.logo-redes {
    width: 30px;
}

.creditos-footer {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    border-top: 2px;
}

/* ----------------------------------------------------------------------- */

/* Desarrollo PAGINA PERSONAJES */

.personajes {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.873),
            rgba(127, 127, 127, 0.294)), url(../assets/personajes-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ----------------------------------------------------------------------- */

/* Desarrollo PAGINA CONTACTO */

.contacto {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.114),
            rgba(127, 127, 127, 0.294)), url(../assets/formulario-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.formulario {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-style: groove;
    background-color: rgba(0, 0, 0, 0.821);
}

.label {
    color: aliceblue;
}

.col-form-label,
.form-check {
    color: aliceblue;
}

/* ----------------------------------------------------------------------- */

/* Seccion PAGINA HISTORIA */

.momento {
    background-color: rgba(240, 248, 255, 0.651);
    border-radius: 20px;
    padding: 20px;
}

/* ----------------------------------------------------------------------- */

/* Seccion PAGINA GALERIA */

.seccion-galeria {
    background-image: url(../assets/fondo-galeria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#galeria .col-lg-4 {
    margin: 0;
    padding: 20px;
}

#galeria img {
    width: 100%;
    height: 100%;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
}