* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* outline: 2px solid red;  */
}
/* ----------------------------------------------------------------------- */


/* Desarrollo Header */
.portada{
    opacity: 70%;
}

.navbar-nav .nav-link.active,.nav-item .nav-link.active{
    color: #D83C15;
}

.navbar-nav .nav-link.disabled, .nav-item .nav-link.disabled{
    color: grey;
}

.navbar-toggler-icon{
    color: white;
}

.btn{
    color: #D83C15;
    border-color: #D83C15;
} 
/* ----------------------------------------------------------------------- */


/* Desarrollo Footer */
.logo-pegi{
    width: 80px;
}
.logo-crunchy{
    width: 100px;
}
.logo-redes{
    width: 30px;
}
.creditos-footer{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    border-top: 2px;
}
/* ----------------------------------------------------------------------- */