$color-primario: #D83C15;
$color-secundario: aliceblue;
$tipografia-primaria: "Playfair Display";
$tipografia-secundaria: 'Courier New', Courier, monospace;

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografia-primaria;

    /* outline: 2px solid red;  */
}

@mixin estilo-fondo {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    ;
}


/* ----------------------------------------------------------------------- */
/* Componentes */
.btn {
    color: $color-primario;
    border-color: $color-primario;
}

.col-form-label,
.form-check,
.label,
.resumen {
    color: $color-secundario;
}

/* ----------------------------------------------------------------------- */


/* Desarrollo Header */
.navbar-nav {
    .nav-link.active {
        color: $color-primario;
    }

    .nav-link.disabled {
        color: grey;
    }
}

.nav-item {
    .nav-link.active {
        color: $color-primario;
    }

    .nav-link.disabled {
        color: grey;
    }
}

.navbar-toggler-icon {
    color: $color-secundario;
}

.nav-link {
    color: $color-secundario;
}


/* ----------------------------------------------------------------------- *
/* Desarrollo Index */

main {
    h2 {
        color: $color-secundario;
        font-family: $tipografia-primaria;
        background-color: $color-primario;
        overflow-y: 20px;
        box-shadow: 30px 20px 10px 10px black;
    }

}

.portada {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.096),
            rgba(0, 0, 0, 0.873)), url(../assets/fairytail-portada.jpg);
    @include estilo-fondo();
}

.seccion-ova {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-ova.jpg);
    @include estilo-fondo();
}

.seccion-historia {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-historia.jpg);
    @include estilo-fondo();
}

.seccion-personajes {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/personajes-fondo.jpg);
    @include estilo-fondo();
}

/* ----------------------------------------------------------------------- */

/* Desarrollo Footer */
.logo-pegi {
    width: 80px;
}

.logo-crunchy {
    width: 100px;
}

.logo-redes {
    width: 30px;
}

.creditos-footer {
    font-size: 20px;
    font-family: $tipografia-secundaria;
    margin-top: 10px;
    border-top: 2px;
}

/* ----------------------------------------------------------------------- */

/* Desarrollo PAGINA PERSONAJES */

.personajes {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.873),
            rgba(127, 127, 127, 0.294)), url(../assets/personajes-fondo.jpg);
    @include estilo-fondo();
}