/* Reseteo */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;

    /* outline: 2px solid red;  */
}

$color-primario: #D83C15; 
$color-secundario: aliceblue;

/* ----------------------------------------------------------------------- */

/* Desarrollo Header */
.navbar-nav{
    .nav-link.active{
        color: $color-primario;
    }
    .nav-link.disabled{
        color: grey;
    }
}

.nav-item{
    .nav-link.active{
        color: $color-primario;
    }
    .nav-link.disabled{
        color: grey;
    }
}

.navbar-toggler-icon {
    color: $color-secundario;
}

.btn {
    color: $color-primario;
    border-color: $color-primario;
}

.nav-link {
    color: $color-secundario;
}


/* ----------------------------------------------------------------------- *
/* Desarrollo Index */

main {
    h2{ 
        color: $color-secundario;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: $color-primario;
        overflow-y: 20px;
        box-shadow: 30px 20px 10px 10px black;}
    
}

.portada {
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;;
}

.portada{
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.096),
            rgba(0, 0, 0, 0.873)), url(../assets/fairytail-portada.jpg);
            @extend .portada;
}

.seccion-ova {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), 
            url(../assets/fondo-ova.jpg);
    @extend .portada;
}

.seccion-historia {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-historia.jpg);
    @extend .portada;
}

.seccion-personajes {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.873),
            rgba(127, 127, 127, 0.294)), url(../assets/personajes-fondo.jpg);
    @extend .portada;
}





