.seccion-historia {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-historia.jpg);
    @include estilo-fondo();
}

.seccion-personajes {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/personajes-fondo.jpg);
    @include estilo-fondo();
}

.seccion-ova {
    background-image: linear-gradient(0deg,
            rgba(127, 127, 127, 0.294),
            rgba(127, 127, 127, 0.294)), url(../assets/fondo-ova.jpg);
    @include estilo-fondo();
}