.formulario {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-style: groove;
    background-color: rgba(0, 0, 0, 0.821);
}

.col-form-label,
.form-check,
.label,
.resumen {
    color: $color-secundario;
}