main {
    h1 {
        color: $color-secundario;
        font-family: $tipografia-primaria;
        background-color: $color-primario;
        overflow-y: 20px;
        box-shadow: 30px 20px 10px 10px black;
    }

}